:local(footer) {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: white;
}
:local(footer section) {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

:local(footer section) {
  white-space: normal;
}
