* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This means that padding is included inside width and height.*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
}

.background {
  position: fixed; /*position of background is fixed to img*/
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Cover the entire area */
  z-index: -1; /* Place behind other content */
  background-image: url("./image/Avatar.jpg");
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); */
}
/* .hero {
  background-size: cover;
  

  background-size: cover;
  background-attachment: fixed;
} */

.content {
  display: flex;
  border: 1px red solid;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: white;
}

.content p {
  max-width: 500px;
}

.content a {
  color: inherit;
  text-decoration: none;
}

.content__header__border {
  padding: 2px;
  border: 2px #684e24 solid;

  background-color: #a99067;
}

.content__header {
  border-radius: 2px;
  display: flex;
  border: 2px #684e24 solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  background-color: #ddd0a7;
  color: #241b18;
}

.content__header h1 {
  font-size: 1.2rem;
}

/*
1 2
4 3

hashmap

1: 1

*/
