.content__nav__itm button {
  background: none;
  border: none;
}

.information__img {
  background-image: url("./image/elements.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
}

.close {
  position: absolute;
  left: 90%;
  font-size: 2rem;
}
.information__container {
  padding: 2rem;
  background-size: cover;
  /* filter: blur(5px); */
  position: fixed; /* Fixed positioning to stay in the middle */
  z-index: 3; /* Stays above other elements */
  width: 500px;
  height: 500px;
  background-color: white;
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjusts position to truly center */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling (optional) */
  border-radius: 8px; /* Optional: Add some rounded corners */
  padding: 16px; /* Optional: Adds some padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
  color: black;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #5c5a54; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4a4843; /* Color of the scrollbar thumb */
}

.information__header {
  font-size: x-large;
}

.green {
  background-color: #8aca4a;
  font-weight: bold;
}

.red {
  background-color: #f18568;
  font-weight: bold;
}

.x-large {
  font-size: x-large;
}

.larger {
  font-size: larger;
  font-weight: bold;
}

/* .time__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.center {
  text-align: center;
}

.contact__notice {
  /* margin-top: 3rem; */
  font-size: 12px;
  color: #5c5a54;
}
