.box__row {
  display: flex;
  gap: 5px;
}

.box {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  border-radius: 5px;
}

.box span {
  width: 70px;
  overflow-wrap: break-word;
  text-align: center;
}
.character__box {
}

.character__box img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hair__box,
.gender__box,
.nation__box,
.fighting__box,
.book__box,
.age__box,
.position__box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.hair__box::-webkit-scrollbar,
.book__box::-webkit-scrollbar {
  width: 4px;
}

.hair__box::-webkit-scrollbar-track,
.book__box::-webkit-scrollbar-track {
  background-color: white;
}
.match-true {
  background-color: #8aca4a;
  border-color: #314905;
}

.match-false {
  background-color: #f18568;
  border-color: #9c2226;
}
