.answers__container {
  display: flex;
  flex-direction: column;
}

.answers__title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.answers__titles__container {
  display: flex;
  flex-direction: row;
  height: 50px;
  gap: 5px;
}

.answer__title_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightblue;
  width: 80px;
}

.answer__title_container span {
  text-align: center;
}

.lines {
  border: 2px solid red;
  height: 2px;
}
