.searchbar__container {
  border: 2px solid #684e24;
  background-color: white;
  border-radius: 5px;
  height: 2.5rem;
  width: 100%;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  /* margin-bottom: 3rem; */
  background-color: #ddd0a7;
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  border: 2px #684e24 solid;
  padding-right: 100px;
  padding-left: 8px;
}

input:focus {
  outline: none;
}

#search__icon {
  color: white;
}

.searchbar__border {
  border: 2px #684e24 solid;
  padding: 4px;
  background-color: #a99067;
  margin-bottom: 1rem;

  /* padding: 12px; */
}
